h2 , h1
{
  text-align: center;
}


img{
  border-color: blue;
  border-width: 3px;
}
body
{
  background: url(https://www.ing.be/assets/nuid/images/1920/income-insurance-simulator-1920.jpg)
}




#registerbox
{


  height: inherit;
  align-content: center;
  width:auto;
  text-align: center;
}

#register_insurer_form , #login_insurer_form
{
  padding-top: 20px;
  padding-bottom: 20px;
}

#signup_email , #signup_password , #repeat
{
  width: 200px;
  height: 25px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;

}

#register_btn , #login_btn
{
    margin-top: 15px;
    height: 25px;
    width: 100px;
    border-radius: 5px;
    border-color: black;
    border-style: ridge;
    color: black;
    background-color: floralwhite;
}



#loginbox
{
  height: inherit;
  align-content: center;
  width: auto;
  text-align: center;
}

#login_email , #login_password
{
  width: 200px;
  height: 25px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
}
